snippet ( "()" i
($1)$2
endsnippet

snippet [ "[]" w
[$1]$2
endsnippet


snippet { "{}" w
{
  $1
}
endsnippet

snippet " "complete double quote" i
"$1"$2
endsnippet

snippet ' "complete single quote" i
'$1'$2
endsnippet
