snippet cl "console.log"
console.log ${0}
endsnippet

#
#  React snippets
#

snippet gis "get initial state" b
getInitialState: ->
  ${1}
endsnippet

snippet gdp "get initial state" b
getDefaultProps: ->
  ${1}
endsnippet

snippet cdm "component did mount" b
componentDidMount: ->
  ${1}
endsnippet
