# append `i` to trigger in text
snippet = "<%= ${0} %>" i
<%= ${0} %>
endsnippet

snippet blk "each wrap in block"
<% ${1} -%>
	${VISUAL}${0}
<% end -%>
endsnippet

snippet end "end (ERB) No need dash at end when rails3"
<% end %>
endsnippet

snippet lt "link to" i
<%= link_to "${1}", ${2} %>
endsnippet
