snippet warn "bootstrap text color enum" i
<p class="text-danger">${0}</p>
endsnippet

snippet btn "bootstrap button size enum" i
btn-lg btn-sm btn-xs
endsnippet

snippet icon "font-awesome icon enum" i
fa-search fa-question-circle fa-warning fa-plus fa-trash fa-pencil
endsnippet

snippet icons "font-awesome search icon" i
<i class="fa fa-search"></i>
endsnippet

